.profile__add-btn {
  background-image: url(../../../images/addButton.svg);
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid white;
  width: 150px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  transition: filter 1s;
}

.profile__add-btn:hover {
  filter: opacity(60%);
}

@media (max-width: 767px) {
  .profile__add-btn {
    margin: 36px 0 0;
  }
}