.element__like-button {
  background-image: url(../../../images/likeButton.svg);
  background-color: transparent;
  background-size: cover;
  background-position: center;
  margin-right: 30px;
  min-width: 22px;
  min-height: 19px;
  cursor: pointer;
  border: none;
  padding: 0;
  transition: filter 1s;
}

.element__like-button:hover {
  filter: opacity(50%);
}

.element__like-button:active {
  background-image: url(../../../images/likeButtonActive.svg);
}