.element__container {
  display: inline-flex;
  background-color: #FFFFFF;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: space-between;
  align-items: baseline;
}