.popup__field {
font-family: "Inter", sans-serif;
font-size: 14px;
line-height: 17px;
font-weight: 400;
border: none;
padding: 0 0 13px;
border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.popup__field:focus {
  outline: none;
}

.popup__field::placeholder {
  color: black;
}

.popup__field:empty::placeholder {
  color: #c4c4c4;
}
